<!DOCTYPE html>
<html lang="en">
<head>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<meta charset="UTF-8">
	<title><%- leaderboardType %> <%- title %> Leaderboard page</title>
</head>


<body>
<h1>This is the <%- leaderboardType %> <%- title %> Leaderboard page</h1>
<p id='ten'> 10 values </p>
<p id='twenty'> 20 values </p>
<p id='hundred'> 100 values </p>

<script>
var height = 300, width = 500;
var barPadding = 1;
var dpsArray = <%= JSON.stringify(dpsData) %>;
var svg= d3.select("body")
	.append("svg")
	.attr("height", 300)
	.attr("width" , 500);

svg.selectAll("rect").data(dpsArray).enter().append("rect")
	.attr("x" , function(d,i) {
		return i * (width/dpsArray.length); })
	.attr("y" , function(d) { 
		return height-d/10000;})
	.attr("width", width / dpsArray.length - barPadding)
	.attr("height", function(d) {
		return d/10000
	})
	.attr("class" , "enter");

d3.select("#ten").on("click",function() {

	d3.selectAll('.enter').attr("class", "exit").style('opacity' , 0);
	svg.selectAll("rect").data(dpsArray.slice(0,10)).transition()
	.attr("x" , function(d,i) {
		return i * (width/dpsArray.slice(0,10).length); })
	.attr("y" , function(d) { 
		return height-d/10000;})
	.attr("width", width / dpsArray.slice(0,10).length - barPadding)
	.attr("height", function(d) {
		return d/10000;
	})
	.attr("class" , "enter")
	.style("opacity" , 1);
	;
});

d3.select("#twenty").on("click",function() {

	d3.selectAll('.enter').attr("class", "exit").style('opacity' , 0);

	svg.selectAll("rect").data(dpsArray.slice(0,20)).transition()
	.attr("x" , function(d,i) {
		return i * (width/dpsArray.slice(0,20).length); })
	.attr("y" , function(d) { 
		return height-d/10000;})
	.attr("width", width / dpsArray.slice(0,20).length - barPadding)
	.attr("height", function(d) {
		return d/10000;
	})
	.attr("class" , "enter")
	.style("opacity" , 1);
	;
});

d3.select("#hundred").on("click",function() {
	d3.selectAll('.enter').attr("class", "exit").style('opacity' , 0);

	svg.selectAll("rect").data(dpsArray.slice(0,100)).transition()
	.attr("x" , function(d,i) {
		return i * (width/dpsArray.slice(0,100).length); })
	.attr("y" , function(d) { 
		return height-d/10000;})
	.attr("width", width / dpsArray.slice(0,100).length - barPadding)
	.attr("height", function(d) {
		return d/10000;
	})
	.attr("class" , "enter")
	.style("opacity" , 1);
	;
});


</script>

//List of all the BattleTags for the corresponding Leaderboard
<ol>
<% ejs_battletags.forEach(function (tag) { %>

	<li><a href = "/player/<%= tag.Battletag.replace("#","-") %>" >  <%= tag.Battletag %></a></li>
<!-- //if using requestURL.
// 	<li><a href = "/player/<%= tag %>" >  <%= tag %></a></li>
-->

<% }) %>
</ol>
</body>