<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
	<meta charset="UTF-8">
	<title><%- region %> <%- leaderboardType %> <%- title %> Leaderboard page</title>
	<link rel="stylesheet" type="text/css" href="../../../styles/leaderboard.css">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-56162514-1', 'auto');
	  ga('send', 'pageview');

	</script>
		
</head>


<body>
<script> var allData = <%-JSON.stringify(all)%>; </script>
<header>
	<h1> <%- region.toUpperCase() %> <%- leaderboardType.toUpperCase() %> <%- title.toUpperCase() %></h1>
</header>
<nav>
<p><a href="/update/<%- region %>/<%- leaderboardType %>/<%- title %>">update leaderboard</a>
</nav>
<br />

<div id='visual'></div>


<!-- List of all the BattleTags for the corresponding Leaderboard -->
<table>
	<tr>
		<th>Standing</th>
		<th>Battletag</th>
		<th>Greater Rift</th>
		<th>Time Spent</th>
		<th>Date Completed</th>
	</tr>
	<% ejs_battletags.slice(0,100).forEach(function (tag) { %>
		
		<tr id="<%= tag.Standing %>">
			<td><%= tag.Standing %></td>
			<td><a href = "/player/<%= tag.Battletag.replace("#","-") %>" ><%= tag.Battletag %></a></td>
			<td><%= tag["Greater Rift"] %></td>
			<td><%= tag["Time Spent"] %></td>
			<td><%= tag["Date Completed"] %></td>
		</tr>

	<% }) %>
</table>

	<script src="../../../d3functions.js"></script>
</body>