<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%- region %> <%- leaderboardType %> <%- title %></title>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="../../../styles/leaderboard.css">

	<script>
		var allData = <%-JSON.stringify(all)%>;

		$(document).ready(function () {
			$('#top').hide();
			$('#skillPicker').hide();

		})

		$(window).scroll(function() {
			if ($(window).scrollTop() > 400) {
	        // > 100px from top - show div
	        	$('#top').show();
			}

		    else {
		        // <= 100px from top - hide div
		        $('#top').hide();
		    }
		});
		//itemName, itemCount
		var allItems = [[],[]];
		var itemName = allItems[0];
		var itemCount = allItems[1];

		function getItems() {	
			for(i=0; i<allData.length; i++) {
				if (allData[i].items.head != undefined) {
					if (itemName.indexOf(allData[i].items.head.name) == -1) {
						itemName.push(allData[i].items.head.name);
						itemCount.push(1);
					}
					else {
						itemCount[itemName.indexOf(allData[i].items.head.name)] += 1;
					}
				}
			}
		}
		/*
		var playerItems = allData[0].items;

		function getItemsFromPlayer() {
			for (itemName in playerItems) {
				if (playerItems.hasOwnProperty(itemName)) {
					console.log(playerItems[itemName].name);
				}
			}
		}
		*/
	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-56162514-1', 'auto');
	  ga('send', 'pageview');

	</script>
		
</head>


<body>
<header>
	<h1 id="#"> <%- region.toUpperCase() %> <%- leaderboardType.toUpperCase() %> <%- title.toUpperCase() %></h1>
</header>

<aside id="top">
	<a href="#">top</a>
</aside>

<aside id="update">
<% if (lastupdated != 0) { %>

<% var lastUpdated = lastupdated.getMonth()+1 + "/" + lastupdated.getDate() + "/" + (lastupdated.getYear()+1900) %>
last updated: <%= lastUpdated %><br />

<% } %>
<a class="update" href="/update/<%- region %>/<%- leaderboardType %>/<%- title %>">update leaderboard</a>
</aside>
<br />
<div id="graphChooser">
	<span id="itemSpan">Items</span><br />
	<div id="itemPicker"></div>
	
	<span id="statSpan">Stats</span><br />
	
	<span id="skillSpan">Skills</span><br />
	<div id="skillPicker"><a href="#" id="primary">Primary</a> <a href="#" id="passives">Passives</a> <a href="#" id="both">Both</a></div> 
</div>

<br />
<div id="mainStatsDiv"></div>
<div id="itemGraphDiv"></div>
<div id="skillGraphDiv"></div>

<!-- List of all the BattleTags for the corresponding Leaderboard -->
<table>
	<tr>
		<th>Standing</th>
		<th>Battletag</th>
		<th>Greater Rift</th>
		<th>Time Spent</th>
		<th>Date Completed</th>
	</tr>
	<% ejs_battletags.slice(0,100).forEach(function (tag) { %>
		
		<tr id="<%= tag.Standing %>">
			<td><%= tag.Standing %></td>
			<td><a href = "/player/<%= tag.Battletag.replace("#","-") %>" ><%= tag.Battletag %></a></td>
			<td><%= tag["Greater Rift"] %></td>
			<td><%= tag["Time Spent"] %></td>
			<td><%= tag["Date Completed"] %></td>
		</tr>

	<% }) %>
</table>

	<script src="../../../d3functions.js"></script>
</body>