<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= ejs_btag %> <%= ejs_heroData.name %>s Page</title>
</head>


<body>
<h1><%= ejs_btag %> <%= ejs_heroData.name %>  </h1>
<script src = "http://localhost:3000/get.js"> </script>
<link rel="stylesheet" type="text/css" href="../../../styles/hero.css">

<!-- Shows information for a Hero -->
<div id="profile">
	<ul><h2><%= ejs_heroData.name %></h2>
		<li>Class : <%= ejs_heroData.class %></li>
		<li>Level : <%= ejs_heroData.level %></li>
		<li>Damage : <%= ejs_heroData.stats.damage %></li>
			<ul>
				<% if ( ejs_heroData.class == "demon-hunter" || ejs_heroData.class == "monk" ) { %>
					<li>Dexterity : <%= ejs_heroData.stats.dexterity %></li>
				<% } %>
				<% if ( ejs_heroData.class == "witch-doctor" || ejs_heroData.class == "wizard" ) { %>
					<li>Intelligence : <%= ejs_heroData.stats.intelligence %></li>
				<% } %>
				<% if ( ejs_heroData.class == "barbarian" || ejs_heroData.class == "crusader" ) { %>
					<li>Strength : <%= ejs_heroData.stats.strength %></li>
				<% } %>
				
				<li>Crit Chance : <%= (ejs_heroData.stats.critChance*100).toFixed(2)+"%" %></li>
				<li>Crit Damage : <%= (ejs_heroData.stats.critDamage*100).toFixed(2)+"%" %></li>
			</ul>
		<li>Toughness : <%= ejs_heroData.stats.toughness %></li>
			<ul>
				<li>Vitality : <%= ejs_heroData.stats.vitality %></li>
				<li>Armor : <%= ejs_heroData.stats.armor %></li>
				<li>Average Resist : <%= Math.round((ejs_heroData.stats.fireResist+ejs_heroData.stats.coldResist+ejs_heroData.stats.lightningResist+ejs_heroData.stats.poisonResist+ejs_heroData.stats.arcaneResist)/6) %></li>
				<li>Life : <%= ejs_heroData.stats.life %></li>
			</ul>
		<li>Healing : <%= ejs_heroData.stats.healing %></li>
		<% if ( ejs_heroData.class == "demon-hunter" || ejs_heroData.class == "monk" ) { %>
			<li>Strength : <%= ejs_heroData.stats.strength %></li>
			<li>Intelligence : <%= ejs_heroData.stats.intelligence %></li>
		<% } %>
		<% if ( ejs_heroData.class == "witch-doctor" || ejs_heroData.class == "wizard" ) { %>
			<li>Strength : <%= ejs_heroData.stats.strength %></li>
			<li>Dexterity : <%= ejs_heroData.stats.dexterity %></li>
		<% } %>
		<% if ( ejs_heroData.class == "barbarian" || ejs_heroData.class == "crusader" ) { %>
			<li>Dexterity : <%= ejs_heroData.stats.dexterity %></li>
			<li>Intelligence : <%= ejs_heroData.stats.intelligence %></li>
		<% } %>
		
</div>
<div id="skills">
		<li>Active Skills :
			<!-- loop through the active skills -->
			<ul><% ejs_heroData.skills.active.forEach(function (activeSkills) { %>
				<!-- if skill is not null, add it to list -->
				<% if (activeSkills.skill != undefined) { %><li><%= activeSkills.skill.name %>
					<!-- if there is a rune add it to skill -->
					<% if (activeSkills.rune != undefined) { %> : <%= activeSkills.rune.name %><% } %>
				</li><% } %> 
			<% }) %></ul><!-- end of active skills loop -->

		<li>Passives :
			<ul><% ejs_heroData.skills.passive.forEach(function (passives) { %>
				<% if (passives.skill != undefined) { %> <li> <%= passives.skill.name %> </li> <% } %>
			<% }) %></ul>
		</li>
	</ul>
</div>

<div id="items">
	<ul>
		<li> Items : 
			<ul>
				<% if (ejs_heroData.items.head != undefined) { %>
				<li title="Insert data from tooltip params">Head : <%= ejs_heroData.items.head.name %></li>
<!--				<ul>
					<li>  -->
				<% } %>
				<% if (ejs_heroData.items.torso != undefined) { %>
				<li title="Insert data from tooltip params">Torso : <%= ejs_heroData.items.torso.name %></li>
				<% } %>

				<% if (ejs_heroData.items.neck != undefined) { %>
				<li title="Insert data from tooltip params">Amulet : <%= ejs_heroData.items.neck.name %></li>
				<% } %>		
				<% if (ejs_heroData.items.shoulders != undefined) { %>
				<li title="Insert data from tooltip params">Shoulders : <%= ejs_heroData.items.shoulders.name %></li>
				<% } %>
				<% if (ejs_heroData.items.hands != undefined) { %>
				<li title="Insert data from tooltip params">Hands : <%= ejs_heroData.items.hands.name %></li>
				<% } %>

				<% if (ejs_heroData.items.bracers != undefined) { %>
				<li title="Insert data from tooltip params">Bracers : <%= ejs_heroData.items.bracers.name %></li>
				<% } %>		
				<% if (ejs_heroData.items.waist != undefined) { %>
				<li title="Insert data from tooltip params">Belt : <%= ejs_heroData.items.waist.name %></li>
				<% } %>						
				<% if (ejs_heroData.items.rightFinger != undefined) { %>
				<li title="Insert data from tooltip params">Right Finger : <%= ejs_heroData.items.rightFinger.name %></li>
				<% } %>
				<% if (ejs_heroData.items.leftFinger != undefined) { %>
				<li title="Insert data from tooltip params">Left Finger : <%= ejs_heroData.items.leftFinger.name %></li>
				<% } %>			
				<% if (ejs_heroData.items.legs != undefined) { %>
				<li title="Insert data from tooltip params">Legs : <%= ejs_heroData.items.legs.name %></li>
				<% } %>
				<% if (ejs_heroData.items.feet != undefined) { %>
				<li title="Insert data from tooltip params">Feet : <%= ejs_heroData.items.feet.name %></li>
				<% } %>				
				<% if (ejs_heroData.items.mainHand != undefined) { %>
				<li title="Insert data from tooltip params">Main Hand : <%= ejs_heroData.items.mainHand.name %></li>
				<% } %>		
				<% if (ejs_heroData.items.offHand != undefined) { %>
				<li title="Insert data from tooltip params">Off Hand : <%= ejs_heroData.items.offHand.name %></li>
				<% } %>		
			</ul>
		</li>
	</ul>
</div>
</body>