<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= ejs_heroData.name %>'s Details</title>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://us.battle.net/d3/static/js/tooltips.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../../styles/hero.css">


	<!-- credit to davem on battle.net forums -->
	<script>
		var b = Bnet.D3.Tooltips;
		b.registerDataOld = b.registerData;
		b.registerData = function(data) {
		 var c = document.body.children, s = c[c.length-1].src;
		 data.params.key=s.substr(0,s.indexOf('?')).substr(s.lastIndexOf('/')+1);
		 this.registerDataOld(data);
		}
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-56162514-1', 'auto');
	  ga('send', 'pageview');
	</script>

	<script>

		$(document).ready(function() {
			$('#profile li').each(function(index, value){
				var text = $(this).html();
				console.log("----",text.toLocaleString())

				var titleEnd = text.indexOf(":");
				var statTitle = "<span class=\"statType\">" + text.slice(0,titleEnd+1) + "</span>";

				var statData = text.slice(titleEnd+2, text.length);
				console.log("xxxx",statData);
				statData = parseFloat(statData).toLocaleString('en');
				console.log("yyyyy",statData);
				if (text.indexOf("%") !== -1) {
					statData += "%";
				}
				statData = "<span class=\"statData\">"+statData+"</span>";
				console.log(statData);
				
				$(this).html(statTitle+" "+statData);
				
			});
		});

	</script>
	<% var urlLeft = "http://"+ejs_heroData.region+".battle.net/d3/en/" %>
	<% var skillURL = urlLeft + "class/" + ejs_heroData.class %>
	<% function dpsCalc(damage, percentage) {

		return damage * (1 + (percentage/100))
	} %>

</head>

<body>

<h1><%= ejs_heroData.name %> <small><%= ejs_btag %></small>  </h1>
<h3><%= ejs_heroData.level %><%= (ejs_heroData.seasonal === true) ? " Seasonal" : "" %> <%= (ejs_heroData.hardcore === true) ? "Hardcore" : "Softcore" %> <%= ejs_heroData.class %></h3>
				
<p><a href = "http://us.battle.net/d3/en/profile/<%= ejs_btag %>/hero/<%= ejs_heroID %>" > Battle.net Profile </a>
<% var lastupdated = (ejs_heroData.extraItemData && ejs_heroData.extraItemData.lastupdated) || "update now!" %>
<% if (lastupdated !== "update now!") lastupdated = lastupdated.getMonth()+1 + "/" + lastupdated.getDate() + "/" + (lastupdated.getYear()+1900) %>
last updated: <%= lastupdated %> <br />
<a href = "/update/player/<%= ejs_btag %>/hero/<%= ejs_heroID %>">Update </a>
<% if (ejs_heroData.extraItemData == undefined) { %>
	<p>Refresh to show more data</p>
<% } %>


<!-- Shows information for a Hero -->
<div class="container-fluid">
	<div class="row">
		<!-- Shows Stats -->
		<div id="profile" class="col-lg-3 col-md-3 col-sm-4 col-xs-7">
			<ul><h2>Stats</h2>
				<li>Paragon: <%= ejs_heroData.paragonLevel %></li>
				<li>Damage: <%= Number(ejs_heroData.stats.damage).toLocaleString('en') %></li>
					<ul>
						<!-- Shows Main Stat -->
						<% if ( ejs_heroData.class == "demon-hunter" || ejs_heroData.class == "monk" ) { %>
							<li>Dexterity: <%= ejs_heroData.stats.dexterity %></li>
						<% } %>
						<% if ( ejs_heroData.class == "witch-doctor" || ejs_heroData.class == "wizard" ) { %>
							<li>Intelligence: <%= ejs_heroData.stats.intelligence %></li>
						<% } %>
						<% if ( ejs_heroData.class == "barbarian" || ejs_heroData.class == "crusader" ) { %>
							<li>Strength: <%= ejs_heroData.stats.strength %></li>
						<% } %>
						<!-- CHC and CHD -->
						<li>Crit Chance: <%= (ejs_heroData.stats.critChance*100).toFixed(2)+"%" %></li>
						<li>Crit Damage: <%= (ejs_heroData.stats.critDamage*100).toFixed(2)+"%" %></li>
					</ul>
				<!-- Extra Item Data -->
				<% if (ejs_heroData.extraItemData != undefined) { %>
					<!-- Elemental Bonuses -->
					<% ejs_heroData.extraItemData.elementalDam.forEach(function (element) { %>
						<% if (element[1] != 0) { %> 
							<li>+<%= element[0] %> Skills Damage: <%= element[1] %>%</li>
						<% } %>
					<% }) %>

					<!--Elite Bonus -->
					<% if (ejs_heroData.extraItemData.eliteDam != undefined && ejs_heroData.extraItemData.eliteDam != 0) { %>
						<li>+Elite Damage: <%= ejs_heroData.extraItemData.eliteDam %>%</li>
					<% } %>

					<!-- Elem DPS -->
					<% if (ejs_heroData.extraItemData.elementalDam[0][1] != 0)  { %>
						<% var elemDam = dpsCalc(ejs_heroData.stats.damage, ejs_heroData.extraItemData.elementalDam[0][1]) %>
						<li>Elemental DPS: <%= elemDam %></li>
					<% } %>

					<!-- Elite DPS & Elite Elem DPS -->
					<% if (ejs_heroData.extraItemData.eliteDam != undefined && ejs_heroData.extraItemData.eliteDam != 0) { %>
						<% var eliteDam = dpsCalc(ejs_heroData.stats.damage, ejs_heroData.extraItemData.eliteDam) %>
						<li> Elite DPS: <%= eliteDam %></li>
						<% if (ejs_heroData.extraItemData.elementalDam[0][1] != 0)  { %>
							<% var eliteElemDam = dpsCalc(eliteDam, ejs_heroData.extraItemData.elementalDam[0][1]) %>
							<li> Elite Elemental DPS: <%= eliteElemDam %></li>
						<% } %>
					<% } %>

					<!-- CDR -->
					<% if (ejs_heroData.extraItemData.cooldown != 0) { %>
						<li>CDR from Items: <%= ejs_heroData.extraItemData.cooldown %>%</li>
					<% } %>
				<% }%>

				<li>Toughness: <%= ejs_heroData.stats.toughness %></li>
					<ul>
						<li>Vitality: <%= ejs_heroData.stats.vitality %></li>
						<li>Armor: <%= ejs_heroData.stats.armor %></li>
						<li>Average Resist: <%= Math.round((ejs_heroData.stats.fireResist+ejs_heroData.stats.coldResist+ejs_heroData.stats.lightningResist+ejs_heroData.stats.poisonResist+ejs_heroData.stats.arcaneResist)/6) %></li>
						<li>Life: <%= ejs_heroData.stats.life %></li>
					</ul>
				<li>Healing: <%= ejs_heroData.stats.healing %></li>

				<!-- Non main stat -->
				<% if ( ejs_heroData.class == "demon-hunter" || ejs_heroData.class == "monk" ) { %>
					<li>Strength: <%= ejs_heroData.stats.strength %></li>
					<li>Intelligence: <%= ejs_heroData.stats.intelligence %></li>
				<% } %>
				<% if ( ejs_heroData.class == "witch-doctor" || ejs_heroData.class == "wizard" ) { %>
					<li>Strength: <%= ejs_heroData.stats.strength %></li>
					<li>Dexterity: <%= ejs_heroData.stats.dexterity %></li>
				<% } %>
				<% if ( ejs_heroData.class == "barbarian" || ejs_heroData.class == "crusader" ) { %>
					<li>Dexterity: <%= ejs_heroData.stats.dexterity %></li>
					<li>Intelligence: <%= ejs_heroData.stats.intelligence %></li>
				<% } %>
				
		</div>
		<!-- Show Items -->
		<div id="items" class="col-lg-3 col-md-4 col-sm-5 col-xs-7 col-sm-offset-1 col-md-offset-3">
			<h2 text-align="center">Items</h2>
			<table>
				<tr><!-- Top Row : Shoulders, Head, Amulet -->
					<td>
						<span class="itemType">Shoulders</span><br/>
						<% if (ejs_heroData.items.shoulders != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.shoulders.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.shoulders.displayColor %>"><%= ejs_heroData.items.shoulders.name %></a></li>
						<% } %>					
					</td>
					<td>
						<span class="itemType">Head</span><br/>
						<% if (ejs_heroData.items.head != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.head.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.head.displayColor %>"><%= ejs_heroData.items.head.name %></a>
						<% } %>
					</td>
				
					<td>
						<span class="itemType">Amulet</span><br/>
						<% if (ejs_heroData.items.neck != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.neck.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.neck.displayColor %>"><%= ejs_heroData.items.neck.name %></a></li>
						<% } %>	
					</td>
				</tr>

				<tr><!-- 2nd Row : Hands, Torso, Wrists -->
					<td>
						<span class="itemType">Hands</span><br/>
						<% if (ejs_heroData.items.hands != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.hands.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.hands.displayColor %>"><%= ejs_heroData.items.hands.name %></a></li>
						<% } %>
					</td>
					<td>
						<span class="itemType">Torso</span><br/>
						<% if (ejs_heroData.items.torso != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.torso.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.torso.displayColor %>"><%= ejs_heroData.items.torso.name %></a></li>
						<% } %>
					</td>
					<td>
						<span class="itemType">Wrists</span><br/>
						<% if (ejs_heroData.items.bracers != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.bracers.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.bracers.displayColor %>"><%= ejs_heroData.items.bracers.name %></a></li>
						<% } %>		
					</td>
				</tr>

				<tr><!-- 3rd Row : Left Finger, Belt, Right Finger -->
					<td>
						<span class="itemType">Left Finger</span><br/>
						<% if (ejs_heroData.items.leftFinger != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.leftFinger.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.leftFinger.displayColor %>"><%= ejs_heroData.items.leftFinger.name %></a></li>
						<% } %>			
					</td>
					<td>
						<span class="itemType">Belt</span><br/>
						<% if (ejs_heroData.items.waist != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.waist.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.waist.displayColor %>"><%= ejs_heroData.items.waist.name %></a></li>
						<% } %>						
					</td>
					<td>
						<span class="itemType">Right Finger</span><br/>
						<% if (ejs_heroData.items.rightFinger != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.rightFinger.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.rightFinger.displayColor %>"><%= ejs_heroData.items.rightFinger.name %></a></li>
						<% } %>
					</td>
				</tr>

				<tr><!-- 4th Row : Main Hand, Legs, Off Hand -->
					<td>
						<span class="itemType">Main Hand</span><br/>
						<% if (ejs_heroData.items.mainHand != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.mainHand.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.mainHand.displayColor %>"><%= ejs_heroData.items.mainHand.name %></a></li>
						<% } %>	
					</td>
					<td>
						<span class="itemType">Legs</span><br/>
						<% if (ejs_heroData.items.legs != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.legs.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.legs.displayColor %>"><%= ejs_heroData.items.legs.name %></a></li>
						<% } %>
					</td>
					<td>
						<span class="itemType">Off Hand</span><br/>
						<% if (ejs_heroData.items.offHand != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.offHand.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.offHand.displayColor %>"><%= ejs_heroData.items.offHand.name %></a></li>
						<% } %>
					</td>
				</tr>
				<tr><!-- Bottom Row : N/A, Feet, N/A -->
					<td>
					</td>
					<td>
						<span class="itemType">Feet</span><br/>
						<% if (ejs_heroData.items.feet != undefined) { %>
						<a href = "<%= urlLeft %><%= ejs_heroData.items.feet.tooltipParams %>" onclick="return false" class="<%= ejs_heroData.items.feet.displayColor %>"><%= ejs_heroData.items.feet.name %></a></li>
						<% } %>				
					</td>
					<td>
					</td>
				</tr>	
			</table>
		</div>
	</div>
	<div class="row">
		<!-- Show Skills -->
		<div id="skills" class="col-lg-3 col-md-3 col-sm-4">
			<ul><h2>Skills</h2>
				<li>Active Skills:
					
					<ul><% ejs_heroData.skills.active.forEach(function (activeSkill) { %>
					
						<% if (activeSkill.skill != undefined) { %>

							<%
								console.log(activeSkill.skill.name)
								var activeURL = skillURL + "/active/";
								activeURL += activeSkill.skill.name.toLowerCase().replace(/ /g, "-").replace("'","");
							%>

							<li><a href="<%= activeURL %>"> <%= activeSkill.skill.name %></a>
							<!-- if there is a rune add it to skill -->
							<% if (activeSkill.rune != undefined) { %>: <%= activeSkill.rune.name %><% } %>
						</li><% } %> 
					<% }) %></ul><!-- end of active skills loop -->
				</li>
				<li>Passives: 
					<ul><% ejs_heroData.skills.passive.forEach(function (passive) { %>
						<% if (passive.skill != undefined) { %>

						<% 
							var passiveURL = skillURL + "/passive/";
							passiveURL += passive.skill.name.toLowerCase().replace(/ /g, "-").replace("'","");
 						%>
							<li><a href="<%= passiveURL %>"><%= passive.skill.name %></a></li> 
						<% } %>
					<% }) %></ul>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>