<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= ejs_btag %>'s Profile</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../styles/battletag.css">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-56162514-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<!--
			res.render('player.ejs', { ejs_btag : battletag , ejs_heroes : playersHeroes , ejs_grift_heroes : gRiftHeroes });
	-->
</head>

<body>
<h1><%= ejs_btag %></h1>

<!-- Shows all the heroes for a Battletag.  Sorts by highest level, and most recently updated -->
<ul>
<% ejs_heroes.sort(function(a,b) { 
	if(a.level == 70 && b.level == 70) {
		return b["last-updated"]-a["last-updated"];
	}
	else {
		return b.level-a.level;
	} 
}); %>
<% ejs_heroes.forEach(function (hero) { %>
	<% var gender = hero.gender %>
	<% switch(gender) { case 1: gender = "female"; break; case 0: gender = "male"; break; } %>
	<% var imgURL = hero.class+"-"+gender %>
	<div class="hero<% if (hero.level < 70) { %> mule <% } %>">
		<!-- If ejs_grift_heroes, add a star -->
		<% if (ejs_grift_heroes !== 0) { %>
			<% ejs_grift_heroes.forEach(function (gRiftHero) { %>
				<% if (hero.id == gRiftHero.heroID) { %>
				<img src = "../images/legendary.png" height="50" width="50" title="Assumed Hero on Leaderboard">
				<% } %>
			<% }); %>
		<% } %>

		<img src = "../images/<%= imgURL %>.png" height="50" width="50">
		<a class = "<%= hero.class %>" href = "/player/<%= ejs_btag %>/hero/<%= hero.id %>"> <%= hero.name %> <%= hero.level %></a> ----- <a href = "http://us.battle.net/d3/en/profile/<%= ejs_btag %>/hero/<%= hero.id %>" >Battle.net Profile</a>
		<% if (hero.seasonal == true) { %> <img src = "../images/seasonal.png" title="Seasonal"> <% } %> 
		<% if(hero.hardcore == true)  { %> <img src = "../images/hardcore.png" title="Hardcore"> <% } %> 
	</div>
<% }); %>
</ul>

</body>